<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://frsintegrationsvcs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>frsintegrationsvcs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>frsintegrationsvcs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$frsintegrationsvcs</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FRSMT940LoaderContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:frs.database.windows.net,1433;Initial Catalog=GFFRS;Persist Security Info=True;User ID=frsAdmin@frs;Password=p@ssw0rd;Application Name=EntityFramework" Name="data source=tcp:frs.database.windows.net,1433;initial catalog=GFFRS;persist security info=True;user id=frsAdmin@frs;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Gf.Frs.MT940Loader.FRSMT940LoaderContext, Gf.Frs.MT940Loader" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FrsOracleGLLoaderContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:frs.database.windows.net,1433;Initial Catalog=GFFRS;Persist Security Info=True;User ID=frsAdmin@frs;Password=p@ssw0rd;Application Name=EntityFramework" Name="data source=tcp:frs.database.windows.net,1433;initial catalog=GFFRS;persist security info=True;user id=frsAdmin@frs;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Gf.Frs.OracleGLLoader.DataModel.FrsOracleGLLoaderContext, Gf.Frs.OracleGLLoader" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NLogConStr" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:frs.database.windows.net,1433;Initial Catalog=GFFRS;Persist Security Info=True;User ID=frsAdmin@frs;Password=p@ssw0rd" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:frs.database.windows.net,1433;Initial Catalog=GFFRS;User ID=frsAdmin@frs;Password=p@ssw0rd;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NLogConStr_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data Source=tcp:frs.database.windows.net,1433;Database=GFFRS;User ID=frsAdmin@frs;Password=p@ssw0rd;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;App=EntityFramework;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FRSMT940LoaderContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/FRSMT940LoaderModel.csdl|res://*/FRSMT940LoaderModel.ssdl|res://*/FRSMT940LoaderModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:frs.database.windows.net,1433;initial catalog=GFFRS;persist security info=True;user id=frsAdmin@frs;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FrsOracleGLLoaderContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataModel.FrsOracleGLLoaderModel.csdl|res://*/DataModel.FrsOracleGLLoaderModel.ssdl|res://*/DataModel.FrsOracleGLLoaderModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:frs.database.windows.net,1433;initial catalog=GFFRS;persist security info=True;user id=frsAdmin@frs;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NLogConStr-Web.config Connection String">
      <ParameterValue>data source=tcp:frs.database.windows.net,1433;initial catalog=GFFRS;persist security info=True;user id=frsAdmin@frs;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>