<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="RefDataLoadTypeMT940Id" value="1"/>
    <add key="RefDataLoadTypeOracleGLId" value="2" />
  </appSettings>

  <connectionStrings>
    <!--<add name="FRSMT940LoaderContext" connectionString="metadata=res://*/FRSMT940LoaderModel.csdl|res://*/FRSMT940LoaderModel.ssdl|res://*/FRSMT940LoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cp.bilalrehman.com;initial catalog=GF-FRS-V.2;persist security info=True;user id=frs;password=inn0st@rk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="FRSMT940LoaderContext" connectionString="metadata=res://*/FRSMT940LoaderModel.csdl|res://*/FRSMT940LoaderModel.ssdl|res://*/FRSMT940LoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MININT-CL4K23O\SQLEXPRESS20121;initial catalog=GF-FRS-V.2;persist security info=True;user id=sa;password=Sqlsql123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="FrsOracleGLLoaderContext" connectionString="metadata=res://*/DataModel.FrsOracleGLLoaderModel.csdl|res://*/DataModel.FrsOracleGLLoaderModel.ssdl|res://*/DataModel.FrsOracleGLLoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cp.bilalrehman.com;initial catalog=GF-FRS-V.2;persist security info=True;user id=frs;password=inn0st@rk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FrsOracleGLLoaderContext" connectionString="metadata=res://*/DataModel.FrsOracleGLLoaderModel.csdl|res://*/DataModel.FrsOracleGLLoaderModel.ssdl|res://*/DataModel.FrsOracleGLLoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MININT-CL4K23O\SQLEXPRESS20121;initial catalog=GF-FRS-V.2;persist security info=True;user id=sa;password=Sqlsql123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>-->
    <extensions>
      <behaviorExtensions>
        <add name="validateDataAnnotationsBehavior" type="DevTrends.WCFDataAnnotations.ValidateDataAnnotationsBehaviorExtensionElement, DevTrends.WCFDataAnnotations, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="BankMT940LoaderBehavior" name="Gf.Frs.LoaderWcfServices.Bank.MT940.BankMT940Loader">
        <endpoint address="" binding="wsHttpBinding" contract="Gf.Frs.LoaderWcfServices.Bank.MT940.IBankMT940Loader" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/gulffinance/frs/bank/mt940" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="FrsOracleGLLoaderBehavior" name="Gf.Frs.LoaderWcfServices.Accounts.OracleGL.AccountsOracleGLLoader">
        <endpoint address="" binding="wsHttpBinding" contract="Gf.Frs.LoaderWcfServices.Accounts.OracleGL.IAccountsOracleGLLoader" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/gulffinance/frs/accounts/oraclegl" />
          </baseAddresses>
        </host>
      </service>

    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="IncreasedTimeout" sendTimeout="00:05:00">
        </binding>
      </basicHttpBinding>
    </bindings>
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <validateDataAnnotationsBehavior />
        </behavior>
        <behavior name="BankMT940LoaderBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="FrsOracleGLLoaderBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
