<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="RefDataLoadTypeMT940Id" value="1"/>
    <add key="RefDataLoadTypeOracleGLId" value="2"/>
  </appSettings>
  
  <connectionStrings>
    <!--Arvixe-->
    <!--<add name="FRSMT940LoaderContext" connectionString="metadata=res://*/FRSMT940LoaderModel.csdl|res://*/FRSMT940LoaderModel.ssdl|res://*/FRSMT940LoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cp.bilalrehman.com;initial catalog=GF-FRS-V.2;persist security info=True;user id=frs;password=inn0st@rk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--BR LOCAL-->
    <!--<add name="FRSMT940LoaderContext" connectionString="metadata=res://*/FRSMT940LoaderModel.csdl|res://*/FRSMT940LoaderModel.ssdl|res://*/FRSMT940LoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QWIN10HVDEV1\SQLEXPRESS2014;initial catalog=GF-FRS-V.2;persist security info=True;user id=sa;password=Sqlsql123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Azure-->
    <add name="FrsOracleGLLoaderContext" connectionString="metadata=res://*/DataModel.FrsOracleGLLoaderModel.csdl|res://*/DataModel.FrsOracleGLLoaderModel.ssdl|res://*/DataModel.FrsOracleGLLoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:frs.database.windows.net,1433;initial catalog=GFFRS;persist security info=True;user id=frsAdmin@frs;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Azure-->
    <add name="FRSMT940LoaderContext" connectionString="metadata=res://*/DataModel.FRSMT940LoaderModel.csdl|res://*/DataModel.FRSMT940LoaderModel.ssdl|res://*/DataModel.FRSMT940LoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:frs.database.windows.net,1433;initial catalog=GFFRS;persist security info=True;user id=frsAdmin@frs;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    
    <!--Arvixe-->
    <!--<add name="FrsOracleGLLoaderContext" connectionString="metadata=res://*/DataModel.FrsOracleGLLoaderModel.csdl|res://*/DataModel.FrsOracleGLLoaderModel.ssdl|res://*/DataModel.FrsOracleGLLoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cp.bilalrehman.com;initial catalog=GF-FRS-V.2;persist security info=True;user id=frs;password=inn0st@rk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--BR LOCAL-->
    <!--<add name="FrsOracleGLLoaderContext" connectionString="metadata=res://*/DataModel.FrsOracleGLLoaderModel.csdl|res://*/DataModel.FrsOracleGLLoaderModel.ssdl|res://*/DataModel.FrsOracleGLLoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QWIN10HVDEV1\SQLEXPRESS2014;initial catalog=GF-FRS-V.2;persist security info=True;user id=sa;password=Sqlsql123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <add name="NLogConStr" providerName="System.Data.SqlClient" connectionString="Data Source=cp.bilalrehman.com;Initial Catalog=GF-FRS-V.2;Persist Security Info=True;User ID=frs;Password=inn0st@rk"/>
    <!--BR LOCAL-->
    <!--<add name="NLogConStr" providerName="System.Data.SqlClient" connectionString="Data Source=QWIN10HVDEV1\SQLEXPRESS2014;Initial Catalog=GF-FRS-V.2;Persist Security Info=True;User ID=sa;Password=Sqlsql123"/>-->
  </connectionStrings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        throwExceptions="true">

    <extensions>
      <add assembly="NLog.Extended"/>
    </extensions>
    
    <variable name="vAppName" value="Gf.Frs.Integration"/>
    <variable name="vPartitionKey" value="1"/>

    <targets async="true">
      <!--<target name="logfile" xsi:type="File" fileName="FRS.MT940LoaderServices." />-->
      <!--FILE-->
      <target xsi:type="File" name="default"
        layout="${longdate} - ${level:uppercase=true}: ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
        fileName="${basedir}\logs\FrsProcess.log"
        keepFileOpen="false" 
        archiveFileName="${basedir}\logs\Archeive\FrsProcess_${shortdate}.{##}.log"
        archiveNumbering="Sequence"
        archiveEvery="Day" 
        maxArchiveFiles="30"/>
      
      <!--CONSOLE-->
      <target name="console" xsi:type="Console"/>

      <!--EVENTLOG-->
      <target xsi:type="EventLog"
            name="eventlog"
            source="${var:vAppName}"
            layout="${message}${newline}${exception:format=ToString}"/>

      <!--DATABASE-->
      <!--<target xsi:type="Database" name="dbTarget" connectionStringName="NLogConStr" commandType="StoredProcedure"  commandText="spTest">
        <parameter name="@logged" layout="${date}" />
        <parameter name="@message" layout="${message}" />
      </target>
      <target name="debugTarget" xsi:type="Debugger"
        layout="${time}|${level:uppercase=true}|${logger}|${message}" />
    </targets>-->

    <target name="asyncDbWrapperTarget" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Block">
        <target xsi:type="Database" name="dbTarget" connectionStringName="NLogConStr" commandType="StoredProcedure" commandText="WriteServiceLog">
          <parameter name="@MachineName" layout="${machinename}"/>
          <parameter name="@SiteName" layout="${event-properties:item=SiteName}"/>
          <parameter name="@Logged" layout="${date}"/>
          <parameter name="@level" layout="${level}"/>
          <parameter name="@UserName" layout="${event-properties:item=UserID}"/>
          <parameter name="@Application" layout="${var:appName}"/>
          <parameter name="@Message" layout="${message}"/>
          <parameter name="@Logger" layout="${logger}"/>
          <parameter name="@Properties" layout="${all-event-properties:separator=|}"/>
          <parameter name="@ServerName" layout="${event-properties:item=ServerName}"/>
          <parameter name="@Port" layout="$${event-properties:item=Port}"/>
          <parameter name="@SessionId" layout="${event-properties:item=SessionId}"/>
          <parameter name="@ThreadId" layout="${threadid}"/>
          <parameter name="@CallerDetails" layout="${event-properties:item=CallerDetails}"/>
          <parameter name="@RequestDump" layout="${event-properties:item=RequestDump}"/>
          <parameter name="@ResponseDump" layout="${event-properties:item=ResplonseDump}"/>
          <parameter name="@Url" layout="${event-properties:item=Url}"/>
          <parameter name="@Https" layout="${event-properties:item=Https}"/>
          <parameter name="@ServerAddress" layout="${event-properties:item=ServerAddress}"/>
          <parameter name="@RemoteAddress" layout="${event-properties:item=RemoteAddress}"/>
          <parameter name="@CallSite" layout="${callsite}"/>
          <parameter name="@PartitionKey" layout="${var:vPartitionKey}"/>
          <parameter name="@Exception" layout="${exception:tostring}"/>
        </target>
      </target>

      <target name="asyncDebugWrapperTarget" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Block">
        <target name="debugTarget" xsi:type="Debugger" layout="${time}|${level:uppercase=true}|${logger}|${message}"/>
      </target>

    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="default"/>
      <logger name="*" minlevel="Info" writeTo="console"/>
      <logger name="*" writeTo="eventlog" minlevel="Error" />
      <!-- Levels: Off, Trace, Debug, Info, Warn, Error, Fatal -->
      <!--<logger name="*" minlevel="Trace" writeTo="debugTarget,dbTarget" />-->
      <logger name="*" minlevel="Trace" writeTo="asyncDbWrapperTarget"/>
    </rules>
  </nlog>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="validateDataAnnotationsBehavior"
          type="DevTrends.WCFDataAnnotations.ValidateDataAnnotationsBehaviorExtensionElement, DevTrends.WCFDataAnnotations, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <validateDataAnnotationsBehavior/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>